/* You can add global styles to this file, and also import other style files */

p{margin: 0;}
.Transi{
-webkit-transition:all 150ms ease-out;
   -moz-transition:all 150ms ease-out;
     -o-transition:all 150ms ease-out;
        transition:all 150ms ease-out;
}
.goodsCon .ant-checkbox-group span.ant-checkbox-disabled .ant-checkbox-input[disabled]{
   opacity: 0!important;
}
.ant-table-header{overflow: inherit !important;}
/* .ant-table-body{overflow: inherit !important;max-height: inherit !important;} */


/* ===== froala =====*/
.second-toolbar {border: 0;}
.second-toolbar #logo, .second-toolbar span {display: none;}
.fr-sticky-on+.fr-sticky-dummy {display: none;}
.fr-toolbar.fr-top {background: #f5f8fa; border-radius: 4px 4px 0 0; border-bottom: 1px solid #CCCCCC;position: sticky;z-index: 800;}
.fr-box.fr-basic .fr-wrapper { border-radius: 0 0 4px 4px; border-bottom-color: #CCCCCC;}
.fr-popup.fr-active{z-index: 1900 !important;}
.fr-video {min-width: 420px; text-align: center !important; min-height: 240px;margin: 0 auto;}
.fr-box .fr-video-resizer.fr-active {display: none;}
.fr-wrapper li{display: list-item;}
.fr-wrapper ul {list-style-type: disc;}
.fr-wrapper ul li{list-style-type: inherit;}
.fr-wrapper  ol, .fr-wrapper ol li {list-style-type: decimal;}
.fr-view img.fr-dib{
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.fr-file-view-close{top: 70px}

.fr-view blockquote {
    border-left: none;
    margin-left: 0;
    padding-left: 5px;
    color:#000;
}
.ant-modal-footer button{width: 92px; height: 40px;font-size: 16px;font-weight:500;margin-left: 20px;}
